* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --yellow-color: hsl(47, 88%, 63%);
  --gray-color1: hsl(0, 0%, 42%);
  --gray-color2: hsl(0, 0%, 7%);
}

html {
  font-family: "figtree", sans-serif;
  font-size: 16px;
  background-color: var(--yellow-color);
}

.card {
  display: block;
  width: 300px;
  margin: 100px auto;
  background-color: white;
  padding: 0 20px;
  border-radius: 15px;
  box-shadow: 7px 7px 0 0 var(--gray-color2);
}

.card .article {
    padding: 20px 0;
    border-radius: 10px;
}

img {
  width: 100%;
} 

.card .bg-yellow {
  background-color: var(--yellow-color);
  text-align: center;
  max-width: 80px;
  border-radius: 5px;
  padding: 5px 0;
  font-weight: 800;
}

.card h5 {
  font-weight: 500;
  margin: 10px 0 15px; 
}

.card h3 {
    color: var(--gray-color2);
    cursor: pointer;
    transition: 0.3s;
}

.card h3:hover {
    color: var(--yellow-color);
}

.card p {
    color: var(--gray-color1);
    margin: 10px 0 15px;
}

.card .avatar {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    font-weight: 800;
}

.card .avatar img {
    max-width: 10%;
    margin-right: 10px;
}